<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Profile</title>
    <link rel="stylesheet" th:href="@{/user-details.css}">
</head>
<body>
<div class="header">Financial Profile Dashboard</div>
<a th:href="@{/users}" class="nav-button">Users</a>

<div class="main-container">
    <div class="profile-section">
        <img th:src="${user.profilePictureUrl}"
             alt="Profile Picture" class="profile-avatar">
        <h1 th:text="${user.username}">Username</h1>
    </div>

    <div class="details-container">
        <div class="details-card">
            <h2>Personal Information</h2>
            <div class="details-item"><span>Name:</span><span th:text="${user.firstName}"></span></div>
            <div class="details-item"><span>Country:</span><span th:text="${user.country}"></span></div>
        </div>

        <div class="details-card">
            <h2>Payment Details</h2>
            <div class="details-item"><span>Amount:</span><span th:text="${user.balance + ' EUR'}"></span></div>
        </div>

        <div class="details-card">
            <h2>Contact Information</h2>
            <div class="details-item"><span>Phone:</span><span th:text="${user.phoneNumber}"></span></div>
            <div class="details-item"><span>Address:</span><span th:text="${user.address}"></span></div>
        </div>
    </div>

    <div class="transaction-table">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${user.transactions}">
                <td th:text="${transaction.id}"></td>
                <td th:text="${transaction.amount}"></td>
                <td th:text="${transaction.type}"></td>
                <td th:text="${#temporals.format(transaction.createdOn, 'dd-MMM-yyyy', T(java.util.Locale).ENGLISH)}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:insert="fragments/footer :: footer-div"></div>
</div>
</body>
</html>
